<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net452" />
  <package id="Costura.Fody" version="1.3.3.0" targetFramework="net452" developmentDependency="true" />
  <package id="Fody" version="1.29.4" targetFramework="net452" developmentDependency="true" />
  <package id="Google.Apis" version="1.43.0" targetFramework="net452" />
  <package id="Google.Apis.Admin.Directory.directory_v1" version="1.43.0.1736" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.43.0" targetFramework="net452" />
  <package id="Google.Apis.Calendar.v3" version="1.43.0.1837" targetFramework="net452" />
  <package id="Google.Apis.Classroom.v1" version="1.43.0.1845" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.43.0" targetFramework="net452" />
  <package id="Google.Apis.Gmail.v1" version="1.43.0.1835" targetFramework="net452" />
  <package id="Google.Apis.Groupssettings.v1" version="1.43.0.1666" targetFramework="net452" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Contacts" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net452" />
  <package id="Lithnet.GoogleApps" version="1.0.7771.31436" targetFramework="net452" />
  <package id="Lithnet.Licensing.Core" version="1.0.8060.35508" targetFramework="net472" />
  <package id="Lithnet.Logging" version="1.0.5774.20685" targetFramework="net452" />
  <package id="Lithnet.MetadirectoryServices" version="1.0.7578.14947" targetFramework="net452" />
  <package id="log4net" version="2.0.12" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.10.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.10.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.10.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.10.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>