<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="Costura.Fody" version="1.3.3.0" targetFramework="net452" developmentDependency="true" />
  <package id="Esendex.TokenBucket" version="1.0.4.0" targetFramework="net452" />
  <package id="Fody" version="1.29.4" targetFramework="net452" developmentDependency="true" />
  <package id="Google.Apis" version="1.32.0" targetFramework="net452" />
  <package id="Google.Apis.Admin.Directory.directory_v1" version="1.32.0.1076" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.32.0" targetFramework="net452" />
  <package id="Google.Apis.Calendar.v3" version="1.32.0.1095" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.32.0" targetFramework="net452" />
  <package id="Google.Apis.Groupssettings.v1" version="1.32.0.888" targetFramework="net452" />
  <package id="Google.GData.Apps" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Contacts" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net452" />
  <package id="Lithnet.GoogleApps" version="1.0.6589.24922" targetFramework="net452" />
  <package id="Lithnet.Logging" version="1.0.5774.20685" targetFramework="net452" />
  <package id="Lithnet.MetadirectoryServices" version="1.0.6478.33562" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>