<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="Esendex.TokenBucket" version="1.0.4.0" targetFramework="net452" />
  <package id="Google.Apis" version="1.25.0" targetFramework="net452" />
  <package id="Google.Apis.Admin.Directory.directory_v1" version="1.25.0.844" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.25.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.25.0" targetFramework="net452" />
  <package id="Google.Apis.Groupssettings.v1" version="1.25.0.510" targetFramework="net452" />
  <package id="Google.GData.Apps" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Contacts" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net452" />
  <package id="Lithnet.GoogleApps" version="1.0.6520.18538" targetFramework="net452" />
  <package id="Lithnet.Logging" version="1.0.5774.20685" targetFramework="net452" />
  <package id="Lithnet.MetadirectoryServices" version="1.0.6017.24789" targetFramework="net452" />
  <package id="log4net" version="2.0.5" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>